@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

html, body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-color: #1470df;
}

.contenedor{
    max-width: 390px;
    background-color: #ffc91d;
    padding: 30px 60px;
    border: 3px solid #f2f2f2 ;

}

.contenedor .titulo-texto{
    display: flex;
    width: 200%;
}

.contenedor .titulo-texto .titulo{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.contenedor .contenedor-form{
    width: 100%;
}

.contenedor-form .form-interno{
    display: flex;
    width: 200%;
}

.contenedor-form .form-interno .form{
    width: 50%;
}

.form-interno .form .campo{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-interno .form .campo input, select, option{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border: 2px solid #f2f2f2;
    border-bottom-width: 2px;
    appearance: none;
}

.form-interno .form .campo input::placeholder{
    color: #1e1e1e;
}

.form-interno .form .checkbox{
    margin-top: 20px;
    text-align: center;
}

.contenedor-form .form-interno .campo input:focus{
    border: 2px solid black;
}

.contenedor-form .form-interno .link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 200;
}

.contenedor-form .form-interno .link a{
    margin-left: 8px;
    color: #1470df;
}

.contenedor-form .form-interno .link a:hover{
    color: #f2f2f2;
}

.contenedor-form .form-interno button {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #1e1e1e;
    border-radius: 2px;
    position: relative;
    color: #1e1e1e;
    background-color: #f2f2f2;
    text-decoration: none;
    transition: 0.3s ease all;
}

.contenedor-form .form-interno button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    z-index: -1;
}

.contenedor-form .form-interno 
button:hover, 
button:focus { 
    color: white;
    background-color: #1e1e1e;
    cursor: pointer;
}

.contenedor-form .form-interno 
button:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.contenedor-form .form-interno button:active {
    transform: scale(0.9);
}

.contenedor-form .form-interno .result{
    margin-top: 15px;
    font-size: 20px;
    color: #fc4c4c;
    text-align: center;
}