@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;700&family=Josefin+Sans:wght@300;600&family=Poppins:wght@100;500&family=Roboto+Slab&family=Rubik:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

/* Header */
.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc4c4c;
    border-bottom: 2.5px solid #f2f2f2;
}

.header .header-usuario{
    display: flex;
    margin-right: 3% ;
}

.header .header-usuario .nombre-usuario{
    margin-right: 20px;
    font-size: 30px;
    font-weight: 600;

}

.header .header-usuario button{
    padding: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #1e1e1e;
    color: white;

}

.header .header-amigo{
    /*margin-left: 180px;*/
    margin-left: 13%;
    width: 15em;
    display: flex;
    align-items: center;


}

.header .header-amigo button{
    padding: 8px 13px;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
}

.header .header-amigo .inputContacto{
    border: 2px solid #1e1e1e;
    padding-right:60px ;
}

.header .header-amigo .inputContacto #friend{
    padding: 8px;
    border: none;
    outline: none; 
    background-color: transparent;
    

}

.header .header-amigo input::placeholder{
    color: #1e1e1e;
}


/* Contenedores principales */
.contenedor {
    display: grid;
    width: 100vw;
    height: 90vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Contenedor izquierda amigos agregados */
.contenedor-amigos {
    grid-area: 1 / 1 / 6 / 2;
    overflow: scroll;
    background-color: #f9dc7d;
}


.contenedor-amigos .div-amigo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 109px;
    font-size: 30px;
    background-color: #f9dc7d;

    color: #f2f2f2;
    border-bottom: 2.5px solid #f2f2f2;
}

.contenedor-amigos .div-amigo:hover{
    cursor: pointer;
    
}

/* Contenedor derecha conversación */
.contenedor-principal {
    grid-area: 1 / 2 / 6 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #1470df;
    border-left: 2.5px solid #f2f2f2;
}

.contenedor-principal .conversacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contenedor-escribir {
    width: 100%;
    height: 10%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}


.contenedor-escribir .div-sms{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contenedor-escribir .div-sms input{
    border: none;
    outline: none;
    width: 87%;
    height: 3em;
    margin-left: 35px;
    border-radius: 5px;
    padding-left: 15px;
    background-color: #f2f2f2;
}


.contenedor-escribir .div-sms .boton-enviar{
    margin-right: 25px;
    padding: 7px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.mensaje{
    display: flex;
    padding-bottom: 13px;
    font-size: 20px;
}

.mensaje p{
    padding: 10px;

}

.mensajeUsuario{
    padding-right: 18px;
    justify-content: flex-end;
}

.mensajeContacto{
    padding-left: 18px;
    justify-content: flex-start;
}

.mensajeUsuario .texto {
    background-color: #90ee90;
    justify-content: flex-end;
}

.mensajeContacto .texto {
    padding: 10px;
    background-color: #f9dc7d;

}
