*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
}

.header .header-usuario{
    display: flex;
    margin-right: 40px;

}

.header .header-usuario .nombre-usuario{
    margin-right: 10px;
}

.header .header-amigo{
    margin-left: 40px;
}


/* Contenedores principales */
.contenedor {
    display: grid;
    width: 100vw;
    height: 90vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Contenedor izquierda amigos agregados */
.contenedor-amigos {
    grid-area: 1 / 1 / 6 / 2;
    overflow: scroll;
    background-color: lightgreen;
}


.contenedor-amigos .div-amigo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 109px;
    border: 1px solid red;
}

/* Contenedor derecha conversación */
.contenedor-principal {
    grid-area: 1 / 2 / 6 / 4;
    background-color: lightseagreen;
}

.contenedor-chat{
    width: 100%;
    height: 90%;
    display: flex;
    border: 1px solid yellow;
}

.contenedor-chat .contenedor-mensaje-amigo {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

.contenedor-principal .contenedor-mensaje-usuario {
    width: 50%;
    height: 100%;
    border: 1px solid black; 
}

.contenedor-principal .contenedor-escribir {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
}